/* Polar Night */
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
/* Snow Storm */
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
/* Frost */
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
/* Aurora */
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @nord0;
    color: @nord4;
    border-bottom: 1px solid @nord1;
}

tooltip {}
tooltip label {}

#workspaces button {
    padding: 0 5px;
    background: @nord2;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: @nord3;
    border-bottom: 3px solid @nord10;
}

#workspaces button.urgent {
    color: @nord11;
    border-bottom: 3px solid @nord11;
}

#mode, #tray, #cpu, #memory, #battery, #clock {
    padding: 0 10px;
}